[submodule "crawlserv/src/_extern/utf8"]
	path = crawlserv/src/_extern/utf8
	url = https://github.com/nemtrif/utfcpp
[submodule "crawlserv/src/_extern/mongoose"]
	path = crawlserv/src/_extern/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "crawlserv/src/_extern/date"]
	path = crawlserv/src/_extern/date
	url = https://github.com/HowardHinnant/date
[submodule "crawlserv/src/_extern/rapidjson"]
	path = crawlserv/src/_extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "crawlserv/src/_extern/jsoncons"]
	path = crawlserv/src/_extern/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "crawlserv/src/_extern/miniz-cpp"]
	path = crawlserv/src/_extern/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp/
