[submodule "crawlserv/src/_extern/utf8"]
	path = crawlserv/src/_extern/utf8
	url = https://github.com/nemtrif/utfcpp
[submodule "crawlserv/src/_extern/mongoose"]
	path = crawlserv/src/_extern/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "crawlserv/src/_extern/date"]
	path = crawlserv/src/_extern/date
	url = https://github.com/HowardHinnant/date
[submodule "crawlserv/src/_extern/rapidjson"]
	path = crawlserv/src/_extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "crawlserv/src/_extern/jsoncons"]
	path = crawlserv/src/_extern/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "crawlserv/src/_extern/asio"]
	path = crawlserv/src/_extern/asio
	url = https://github.com/chriskohlhoff/asio/
[submodule "crawlserv/src/_extern/porter2_stemmer"]
	path = crawlserv/src/_extern/porter2_stemmer
	url = https://github.com/smassung/porter2_stemmer
[submodule "crawlserv/src/_extern/EigenRand"]
	path = crawlserv/src/_extern/EigenRand
	url = https://github.com/bab2min/EigenRand
	branch = main
[submodule "crawlserv/src/_extern/variant"]
	path = crawlserv/src/_extern/variant
	url = https://github.com/mapbox/variant
[submodule "crawlserv/src/_extern/tomotopy"]
	path = crawlserv/src/_extern/tomotopy
	url = https://github.com/bab2min/tomotopy
	branch = main
